# Electricity Usage Analysis for 1MC

This notebook contains an analysis of electricity usage for the address 1MC.

It tallies the totals for each rate stratification and checks them against several tariffs available to determine the best available option.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/1MC2024.csv', header=1, index_col=0)
data.head()

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30
Date,,,,,,,,,,,,,,,,,,,,,
2024-01-01,0.050,0.050,0.049,0.050,0.050,0.050,0.050,0.050,0.050,0.050,...,0.137,0.152,0.394,0.785,0.533,0.314,0.266,0.258,0.249,0.302
2024-01-02,0.158,0.099,0.098,0.092,0.065,0.087,0.125,0.113,0.126,0.118,...,1.237,0.722,0.383,0.362,0.349,0.366,0.321,0.277,0.325,0.298
2024-01-03,0.254,0.174,0.094,0.093,0.124,0.105,0.126,0.078,0.083,0.056,...,0.347,0.347,0.254,0.204,0.208,0.356,0.176,0.215,0.249,0.242
2024-01-04,0.254,0.157,0.073,0.062,0.058,0.062,0.059,0.060,0.056,0.065,...,0.829,0.398,0.436,0.492,0.459,0.469,0.292,0.269,0.188,0.100
2024-01-05,0.069,0.057,0.061,0.060,0.074,0.107,0.135,0.089,0.056,0.058,...,0.342,0.346,0.367,0.410,0.389,0.264,0.280,0.256,0.249,0.325

8am to 11pm is day rate

5pm to 7pm is peak rate

11pm to 8am is night rate

2am to 5am is ev rate

*2am to 6am for some rates

In [3]:
# group data by rates
day = data.iloc[:,16:34].join(data.iloc[:,38:46])
peak = data.iloc[:,34:38]
night = data.iloc[:,0:4].join(data.iloc[:,10:16]).join(data.iloc[:,46:49])
ev = data.iloc[:,4:10]

# account for second grouping
night2 = data.iloc[:,0:4].join(data.iloc[:,12:16]).join(data.iloc[:,46:49])
ev2 = data.iloc[:,4:12]

In [4]:
# total values per bracket
day_total = day.sum().sum()
peak_total = peak.sum().sum()
night_total = night.sum().sum()
ev_total = ev.sum().sum()

night2_total = night2.sum().sum()
ev2_total = ev2.sum().sum()

In [5]:
print(day_total)
print(peak_total)
print(night_total)
print(ev_total)

777.481
128.5605
333.8065
347.94050000000004

In [6]:
# rates per band

rates = {
    "SSE EV": {
        "day": 0.3335,
        "peak": 0.4483,
        "night": 0.1889,
        "ev": 0.0729
    },
    "SSE 24": {
        "day": 0.2665,
        "peak": 0.2665,
        "night": 0.2665,
        "ev": 0.2665
    },
    "En S EV": {
        "day": 0.3461,
        "peak": 0.3784,
        "night": 0.1854,
        "ev": 0.0831
    },
    "En S Data": {
        "day": 0.2521,
        "peak": 0.2642,
        "night": 0.1349,
        "ev": 0.1349
    },
    "En S Drive": {
        "day": 0.3386,
        "peak": 0.3386,
        "night": 0.3386,
        "ev": 0.0754
    },
    "BG S EV DFD": {
        "day": 0.2922,
        "peak": 0.4075,
        "night": 0.2204,
        "ev": 0.0745
    },
    "En S Data DF": {
        "day": 0.2671,
        "peak": 0.2800,
        "night": 0.1430,
        "ev": 0.14300
    },
    "FG DF S": {
        "day": 0.2665,
        "peak": 0.3152,
        "night": 0.2077,
        "ev": 0.2077
    }
}

In [7]:
SSE_EV_total = rates['SSE EV']['day'] * day_total + rates['SSE EV']['peak'] * peak_total + rates['SSE EV']['night'] * night_total + rates['SSE EV']['ev'] * ev_total

SSE_EV_total

405.34449595

In [8]:
SSE_24_total = rates['SSE 24']['day'] * day_total + rates['SSE 24']['peak'] * peak_total + rates['SSE 24']['night'] * night_total + rates['SSE 24']['ev'] * ev_total

SSE_24_total

423.14563525

In [9]:
EN_S_EV_total = rates['En S EV']['day'] * day_total + rates['En S EV']['peak'] * peak_total + rates['En S EV']['night'] * night2_total + rates['En S EV']['ev'] * ev2_total

EN_S_EV_total

404.2082183

In [10]:
EN_S_DATA_total = rates['En S Data']['day'] * day_total + rates['En S Data']['peak'] * peak_total + rates['En S Data']['night'] * night2_total + rates['En S Data']['ev'] * ev2_total

EN_S_DATA_total

321.93631450000004

In [11]:
EN_S_Drive_total = rates['En S Drive']['day'] * day_total + rates['En S Drive']['peak'] * peak_total + rates['En S Drive']['night'] * night2_total + rates['En S Drive']['ev'] * ev2_total

EN_S_Drive_total

434.91507090000005

In [12]:
BG_S_EV_DFD_total = rates['BG S EV DFD']['day'] * day_total + rates['BG S EV DFD']['peak'] * peak_total + rates['BG S EV DFD']['night'] * night2_total + rates['BG S EV DFD']['ev'] * ev2_total

BG_S_EV_DFD_total

372.88995835000003

In [13]:
EN_S_DATA_DF_total = rates['En S Data DF']['day'] * day_total + rates['En S Data DF']['peak'] * peak_total + rates['En S Data DF']['night'] * night2_total + rates['En S Data DF']['ev'] * ev2_total

EN_S_DATA_DF_total

341.1519361

In [14]:
FG_DF_S_total = rates['FG DF S']['day'] * day_total + rates['FG DF S']['peak'] * peak_total + rates['FG DF S']['night'] * night2_total + rates['FG DF S']['ev'] * ev2_total

FG_DF_S_total

389.319808

In [15]:
d = {'SSE EV':[f"{SSE_EV_total:.2f}"],
     'SSE 24':[f"{SSE_24_total:.2f}"],
     'Energia S Data':[f"{EN_S_DATA_total:.2f}"],
     'Energia S Drive':[f"{EN_S_Drive_total:.2f}"],
     'Board Gais S EV DFD':[f"{BG_S_EV_DFD_total:.2f}"],
     'Energia S Data DF':[f"{EN_S_DATA_DF_total:.2f}"],
     'Flogas Dual Fuel S':[f"{FG_DF_S_total:.2f}"]   
}

df = pd.DataFrame(data=d).T.rename(columns={0:'Cost'})

df

                       Cost
SSE EV               405.34
SSE 24               423.15
Energia S Data       321.94
Energia S Drive      434.92
Board Gais S EV DFD  372.89
Energia S Data DF    341.15
Flogas Dual Fuel S   389.32

In [16]:
df[df['Cost'] == df['Cost'].min()]

                  Cost
Energia S Data  321.94