# Electricity Usage Analysis for 23OLR

This notebook contains an analysis of electricity usage for the address 23OLR.

It tallies the totals for each rate stratification and checks them against several tariffs available to determine the best available option.

In [1]:
# import necessary libraries
import pandas as pd

In [2]:
# load the data
data = pd.read_csv('data/electricity.csv', header=1, index_col=0)
data.head()

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30
Date,,,,,,,,,,,,,,,,,,,,,
2024-01-24,0.1160,0.0725,0.0730,0.0940,0.0950,0.0500,0.0580,0.0610,0.0905,0.0755,...,0.1585,0.161,0.3065,0.1450,0.1525,0.1840,0.1975,0.1545,0.0960,0.0865
2024-01-25,0.1110,0.1150,0.0855,0.0630,0.0525,0.0440,0.0810,0.0675,0.0620,0.0620,...,0.0030,0.003,0.0565,0.1370,0.0995,0.2190,0.1350,0.1435,0.1390,0.0975
2024-01-26,0.0605,0.0845,0.0950,0.0925,0.6900,0.7425,0.6500,0.3515,0.3775,0.2095,...,0.1640,0.093,0.0945,0.1465,0.1265,0.1010,0.2290,0.1215,0.1675,0.0540
2024-01-27,0.0465,0.0455,0.0705,0.0800,0.6770,0.7330,0.6480,0.3710,0.1545,0.0495,...,0.0030,0.003,0.0030,0.0030,0.0030,0.0030,0.0040,0.0040,0.0035,0.0145
2024-01-28,0.0815,0.0730,0.0735,0.1050,0.7470,0.7410,0.6205,0.3410,0.2340,0.1065,...,0.0000,0.000,0.0000,0.1230,0.2090,0.2565,0.1130,0.1430,0.1290,0.1080

8am to 11pm is day rate

5pm to 7pm is peak rate

11pm to 8am is night rate

2am to 5am is ev rate*

*2am to 6am for some rates

In [3]:
# group data by rates
day = data.iloc[:,16:34].join(data.iloc[:,38:46])
peak = data.iloc[:,34:38]
night = data.iloc[:,0:4].join(data.iloc[:,10:16]).join(data.iloc[:,46:49])
ev = data.iloc[:,4:10]

# account for second grouping
night2 = data.iloc[:,0:4].join(data.iloc[:,12:16]).join(data.iloc[:,46:49])
ev2 = data.iloc[:,4:12]

In [4]:
# total values per bracket
day_total = day.sum().sum()
peak_total = peak.sum().sum()
night_total = night.sum().sum()
ev_total = ev.sum().sum()

night2_total = night2.sum().sum()
ev2_total = ev2.sum().sum()

In [5]:
# print totals
print(f'{day_total:.2f}')
print(f'{peak_total:.2f}')
print(f'{night_total:.2f}')
print(f'{ev_total:.2f}')

289.83
50.38
188.44
462.81

In [6]:
# rates per band

rates = {
    "SSE EV": {
        "day": 0.3335,
        "peak": 0.4483,
        "night": 0.1889,
        "ev": 0.0729
    },
    "SSE 24": {
        "day": 0.2665,
        "peak": 0.2665,
        "night": 0.2665,
        "ev": 0.2665
    },
    "En S EV": {
        "day": 0.3461,
        "peak": 0.3784,
        "night": 0.1854,
        "ev": 0.0831
    },
    "En S Data": {
        "day": 0.2521,
        "peak": 0.2642,
        "night": 0.1349,
        "ev": 0.1349
    },
    "En S Drive": {
        "day": 0.3386,
        "peak": 0.3386,
        "night": 0.3386,
        "ev": 0.0754
    },
    "BG S EV DFD": {
        "day": 0.2922,
        "peak": 0.4075,
        "night": 0.2204,
        "ev": 0.0745
    },
    "En S Data DF": {
        "day": 0.2671,
        "peak": 0.2800,
        "night": 0.1430,
        "ev": 0.14300
    },
    "FG DF S": {
        "day": 0.2665,
        "peak": 0.3152,
        "night": 0.2077,
        "ev": 0.2077
    },
    "2024": {
        "day": 0.3655,
        "peak": 0.3655,
        "night": 0.3655,
        "ev": 0.0814 
    }
}

In [7]:
# calculate the total cost for SSE EV
SSE_EV_total = rates['SSE EV']['day'] * day_total + rates['SSE EV']['peak'] * peak_total + rates['SSE EV']['night'] * night_total + rates['SSE EV']['ev'] * ev_total

print(f'{SSE_EV_total:.2f}')

188.58

In [8]:
# calculate the total cost for SSE 24
SSE_24_total = rates['SSE 24']['day'] * day_total + rates['SSE 24']['peak'] * peak_total + rates['SSE 24']['night'] * night_total + rates['SSE 24']['ev'] * ev_total

print(f'{SSE_24_total:.2f}')

264.23

In [9]:
# calculate the total cost for EN S EV
EN_S_EV_total = rates['En S EV']['day'] * day_total + rates['En S EV']['peak'] * peak_total + rates['En S EV']['night'] * night2_total + rates['En S EV']['ev'] * ev2_total

print(f'{EN_S_EV_total:.2f}')

188.19

In [10]:
# calculate the total cost for EN S DATA
EN_S_DATA_total = rates['En S Data']['day'] * day_total + rates['En S Data']['peak'] * peak_total + rates['En S Data']['night'] * night2_total + rates['En S Data']['ev'] * ev2_total

print(f'{EN_S_DATA_total:.2f}')

174.23

In [11]:
# calculate the total cost for EN S Drive
EN_S_Drive_total = rates['En S Drive']['day'] * day_total + rates['En S Drive']['peak'] * peak_total + rates['En S Drive']['night'] * night2_total + rates['En S Drive']['ev'] * ev2_total

print(f'{EN_S_Drive_total:.2f}')

202.11

In [12]:
# calculate the total cost for BG S EV DFD
BG_S_EV_DFD_total = rates['BG S EV DFD']['day'] * day_total + rates['BG S EV DFD']['peak'] * peak_total + rates['BG S EV DFD']['night'] * night2_total + rates['BG S EV DFD']['ev'] * ev2_total

print(f'{BG_S_EV_DFD_total:.2f}')

174.70

In [13]:
# calculate the total cost for EN S DATA DF
EN_S_DATA_DF_total = rates['En S Data DF']['day'] * day_total + rates['En S Data DF']['peak'] * peak_total + rates['En S Data DF']['night'] * night2_total + rates['En S Data DF']['ev'] * ev2_total

print(f'{EN_S_DATA_DF_total:.2f}')

184.65

In [14]:
# calculate the total cost for FG DF S
FG_DF_S_total = rates['FG DF S']['day'] * day_total + rates['FG DF S']['peak'] * peak_total + rates['FG DF S']['night'] * night2_total + rates['FG DF S']['ev'] * ev2_total

print(f'{FG_DF_S_total:.2f}')

228.39

In [15]:
# calcuate the total for the previous year
olr2024 = rates['2024']['day'] * day_total + rates['2024']['peak'] * peak_total + rates['2024']['night'] * night2_total + rates['2024']['ev'] * ev2_total

print(f'{olr2024:.2f}')

218.17

In [16]:
# create a dataframe to compare all rates
d = {'Previous Rates':[f"{olr2024:.2f}"],
     'SSE EV':[f"{SSE_EV_total:.2f}"],
     'SSE 24':[f"{SSE_24_total:.2f}"],
     'Energia S Data':[f"{EN_S_DATA_total:.2f}"],
     'Energia S Drive':[f"{EN_S_Drive_total:.2f}"],
     'Board Gais S EV Dual Fuel D':[f"{BG_S_EV_DFD_total:.2f}"],
     'Energia S Data Dual Fuel':[f"{EN_S_DATA_DF_total:.2f}"],
     'Flogas Dual Fuel S':[f"{FG_DF_S_total:.2f}"]   
}

df = pd.DataFrame(data=d).T.rename(columns={0:'Cost'})

df

                               Cost
Previous Rates               218.17
SSE EV                       188.58
SSE 24                       264.23
Energia S Data               174.23
Energia S Drive              202.11
Board Gais S EV Dual Fuel D  174.70
Energia S Data Dual Fuel     184.65
Flogas Dual Fuel S           228.39

In [17]:
# finding the cheapest rate
df[df['Cost'] == df['Cost'].min()]

                  Cost
Energia S Data  174.23